body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/PHK_Exterior_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto;
}
h1 {
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 5em;
    font-weight: bold;

}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}